/* global rules start  */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* global rules end  */
/* start component  */
h2.special-heading {
  font-size: 100px;
  color: #ebeced;
  font-weight: 800;
  text-align: center;
  letter-spacing: -5px;
  margin: 0;
}
h2.special-heading + p {
  text-align: center;
  font-size: 18px;
  color: #888;
  margin-top: -25px;
}
@media (max-width: 767px) {
  h2.special-heading {
    font-size: 60px;
  }
  h2.special-heading + p {
    margin-top: -20px;
  }
}
/* end component  */
/* start google font  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* end google font  */

/* start header  */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container img {
  width: 60px;
}
.header .container .links {
  position: relative;
  transition: var(--main-duration);
}
.header .container .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .container .links:hover .menu {
  display: block;
}
.header .container .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  transition: var(--main-duration);
}

.header .links .icon span {
  background-color: #282523;
  margin-bottom: 5px;
  height: 2px;
}
.header .container .links .icon span:first-child {
  width: 100%;
}
.header .container .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
}
.header .container .links .icon span:last-child {
  width: 100%;
}
.header .container .links .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
  transition: var(--main-duration);
}
.header .container .links .menu::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .container .links .menu li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: var(--main-duration);
}
.header .container .links .menu li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
.header .container .links .menu li a:hover {
  padding-left: 25px;
}
/* start landing section  */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-size: 50px;
  color: var(--main-color);
  font-weight: bold;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* end landing section  */
/* start features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  text-align: center;
}
.features .container .feat i {
  color: var(--main-color);
}
.features .container .feat h3 {
  font-weight: bold;
  margin: 20px auto;
}
.features .container .feat p {
  color: #777;
  font-size: 17px;
  line-height: 1.8;
}
/* end features */
/* start services  */
.services {
  padding-top: var(--section-padding);
  padding-bottom: 150px;
}
.services .container .service-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.services .container .service-content .col .serv {
  display: flex;
}
.services .container .service-content .col .serv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .container .service-content .col .serv .text {
  flex: 1;
}
.services .container .service-content .col .serv .text h3 {
  margin: 0;
}
.services .container .service-content .col .serv p {
  line-height: 1.6;
  color: #afafaf;
}
.services .container .image {
  text-align: center;
  position: relative;
}
.services .container .image::before {
  content: "";
  position: absolute;
  right: 0;
  background-color: var(--secondary-color);
  top: -50px;
  width: 100px;
  height: calc(100% + 100px);
  z-index: -1;
}
.services .container .image img {
  width: 260px;
}
@media (max-width: 1200px) {
  .services .container .image {
    display: none;
  }
}
@media (max-width: 767px) {
  .services .container .service-content {
    display: flex;
    flex-direction: column;
  }
  .services .container .service-content .col .serv {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
/* end services  */
/* start portfolio  */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.portfolio .container .cards .card {
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
}
.portfolio .container .cards .card img {
  max-width: 100%;
}
.portfolio .container .cards .card .text {
  padding: 20px;
}
.portfolio .container .cards .card .text h3 {
  margin: 0;
}
.portfolio .container .cards .card .text p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}

/* end portfolio  */
/* start about  */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .container .about-holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
}
.about .container .about-holder .image {
  width: 400px;
  position: relative;
}
.about .container .about-holder .image::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -50px;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 100px);
  z-index: -1;
}
.about .container .about-holder .image::after {
  content: "";
  position: absolute;
  right: -195px;
  top: -55px;
  width: 150px;
  height: 83%;
  border-bottom: 100px solid var(--main-color);
  border-left: 100px solid var(--main-color);
  z-index: -1;
}
.about .container .about-holder .image img {
  max-width: 100%;
}
.about .container .about-holder .text {
  flex-basis: calc(100% - 500px);
}
.about .container .about-holder .text p:first-of-type {
  line-height: 1.6;
  font-weight: 800;
}
.about .container .about-holder .text hr {
  width: 60%;
  border-color: var(--main-color);
  margin: 30px auto 30px 0px;
}

.about .container .about-holder .text p:last-of-type {
  color: #777;
  line-height: 1.6;
}
@media (max-width: 1200px) {
  .about .container .about-holder .image::before,
  .about .container .about-holder .image::after {
    display: none;
  }
}
@media (max-width: 992px) {
  .about .container .about-holder {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .about .container .about-holder .image {
    margin: 50px auto 50px auto;
  }
  .about .container .about-holder .text hr {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .about .container .about-holder .image {
    max-width: 90%;
  }
  .about .container .about-holder .text p {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* end about  */
/* start contact  */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}

.contact .container .text {
  margin-top: 60px;
  text-align: center;
}
.contact .container .text .title {
  color: var(--secondary-color);
  font-size: 35px;
  letter-spacing: -2px;
  margin-bottom: 15px;
  font-weight: 800;
}
.contact .container .text a.link {
  text-decoration: none;
  color: var(--main-color);
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
}
.contact .container .text .social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.contact .container .text .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .contact .container .text .title,
  .contact .container .text a.link {
    font-size: 25px;
  }
}
/* end contact  */
/* start footer  */
.footer {
  color: #fff;
  background-color: var(--secondary-color);
  padding: 30px 10px;
  text-align: center;
}
.footer span {
  color: var(--main-color);
  font-weight: 800;
}
/* end footer  */
